body{
  margin:0px;
  overflow: hidden;
}

.ketcher{
  max-height:100%;
  max-width: 100%;
}
.screen{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 100;
  padding-left: 0px;
  padding-top:0px;
  padding-bottom:0px;
  margin-left:0px;
  margin-right: 0px;
  height: 100vh;
}
.interface{
  background-color: aliceblue;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

.molecules{
  height:70%
}

ul{
  height:100%;
  overflow-y: auto;
}

.input{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left:20px;
  height: 19%;
  box-shadow: 0 -6px 12px -6px rgba(0, 0, 0, 0.3);
}

#name{
  display:block
}

#nameLabel{
  text-align: left;
}

li{
  background-color: beige;
  border-radius: 15px;
  margin-bottom: 15px;
  text-align: left;
  padding-left:5px;
}

.nameInp{
  display: flex;
}

#addname{
  height: 25px;
  border:none;
  border-radius: 15px;
  background-color: beige;
  cursor: pointer;
  width: 65px;
}

#addname:active{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.deleteBtn, .drawBtn{
  background-color: inherit;
  border: none;
  padding-left: 30px;
  text-decoration: underline;
  cursor:pointer;
}

.logout, .license{
  background-color: beige;
  text-decoration: underline;
  border: none;
  border-radius: 15px;
  color:inherit;
  font-size: inherit;
}

.titleArea{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logoutDiv, .licenseDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .screen {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }


  .ketcher {
    order: -1;  /* move above */
    height: 100%;
    width: 99%;
    transform: scale(0.5)
  }
  #ketcher{
    transform: scale(2);
  }
  .interface{
    height:100%;
    width:100%
  }
  h1{
    font-size: 15px;
  }
  .molecules{
    font-size: 12px;
    height: 55%;
  }
  .input{
    height:25%;
  }
  button{
    font-size: 12px;
  }
  label{
    font-size: 12px;
  }
  .ketcher iframe,
  .ketcher canvas,
  .ketcher > *{
    width: 100%;
    max-width: 100%;
  }
}