input{
  border-radius: 15px;
  border:None;
  width:80vw;
  max-width: 300px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top:5px;
  padding-left: 7px;
}

h1{
  display: block;
}

#criteria{
  padding-bottom:7px;
}

.submit{
  width:70px;
  border-radius: 5px;
  border: None;
}

.submit:active{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  background-color: aliceblue;
}

.signup, .login{
  margin-top: 15px;
}

#passwordMiss, #loginreq{
  color:red;
}